@import "tailwindcss";

@theme {
    --color-dark-orange: #F8B77D;
    --color-light-orange: #FFEEDF;
    --color-dark-green: #879445;
    --color-light-green: #EEF4CF;

}

:root {
    --font-sans: var(--font-jakarta-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    font-family: var(--font-jakarta-sans), sans-serif;
    background-color: #F8F8F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-geist-mono), monospace;
}