.book-form-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(75, 85, 99, 0.5);
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-form-modal__content {
    padding: 2rem;
    border: 1px solid #e5e7eb;
    width: 24rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    background-color: white;
}