.container {
    display: flex;
    justify-content: center;

}

.register-form-container {
    background-color: rgb(255, 255, 255);
    padding: 3rem 1rem 3rem 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.register-form__placeholder {
    color: #747474;
    margin: 0;
}

.register-form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.register-form__input {
    padding: 0.25rem;
    font-size: 1rem;
}

.register-form__label {
    font: bold;
}